@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider

@{ var selection = Model.Ancestors().ToArray(); }

@if (selection?.Length > 0){
}

        <div class="crumbs">
          <nav style="--bs-breadcrumb-divider: ''" aria-label="breadcrumb">
            <ol class="breadcrumb">
                @foreach (var item in selection.OrderBy(x => x.Level))
                    {
                        <li><a href="@item.Url(PublishedUrlProvider)">@item.Name</a> <span class="divider">/</span></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                    }
            </ol>
          </nav>
          <h3>@Model.Value("pageTitle")</h3>
    </div>


