@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <section class="features">
      <div class="container">
        <div class="leftside">
          <p>Features</p>
          <h1>
            Our Accounting is <br />
            trusted by thousand <br />of companies
          </h1>
          <button class="btn">
            Learn More<i class="fa-solid fa-arrow-turn-up"></i>
          </button>
        </div>
        <div class="rightside">
          <div class="business-advice">
            <i class="fa-solid fa-handshake"></i>
            <h3>Business Advice</h3>
            <p>
              Lorem Ipsum, dolor sit amet <br />
              consectelur adipisicing ellit.
            </p>
          </div>
          <div class="startup">
            <i class="fa-regular fa-lightbulb"></i>
            <h3>Startup Business</h3>
            <p>
              Lorem Ipsum, dolor sit amet <br />
              consectelur adipisicing ellit.
            </p>
          </div>
          <div class="financial-advice">
            <i class="fa-solid fa-chart-simple"></i>
            <h3>Financial Advice</h3>
            <p>
              Lorem Ipsum, dolor sit amet <br />
              consectelur adipisicing ellit.
            </p>
          </div>
          <div class="risk-management">
            <i class="fa-brands fa-hive"></i>
            <h3>Risk Management</h3>
            <p>
              Lorem Ipsum, dolor sit amet <br />
              consectelur adipisicing ellit.
            </p>
          </div>
        </div>
      </div>
    </section>