@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <footer>
      <div class="container">
        <div class="logo">
          <img src="/css/Images/logotype-white.svg" />
          <p>
            Lorem ipsum dolor sit amet consectetur<br />
            adipisicing ellit. Placeat obcaecati<br />
            voluptas voluptates! Voluptates laborum<br />
            nam ratione minus necessitatibus, iure<br />
            praesentium.
          </p>
        </div>
        <div class="company">
          <p>Company</p>
          <a href="#">About</a>
          <a href="#">Features</a>
          <a href="#">Works</a>
          <a href="#">Career</a>
        </div>
        <div class="help">
          <p>Help</p>
          <a href="#">Customer Support</a>
          <a href="#">Delivery Details</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Privacy Policy</a>
        </div>
        <div class="resources">
          <p>Resources</p>
          <a href="#">Free eBooks</a>
          <a href="#">Development Tutorial</a>
          <a href="#">How to -Blog</a>
          <a href="#">Youtube Playlist</a>
        </div>
        <div class="link">
          <p>Link</p>
          <a href="#">Free eBooks</a>
          <a href="#">Development Tutorial</a>
          <a href="#">How to -Blog</a>
          <a href="#">Youtube Playlist</a>
        </div>
      </div>
      <div class="copyright">
        <p>@DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</p>
        <div class="socialmedia">
          <a href="www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
          <a href="www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </footer>