@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]?.ToString() | Crito - Service Agency</title>
    <link href="~/css/style.css" rel="stylesheet">
    <!-- Font Awesome Script -->
    <script defer src="~/script.js"></script>
    <script defer src="https://kit.fontawesome.com/20eca45ed8.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS and JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    
    <!-- My content goes here -->
    @await Html.PartialAsync("_HeaderSection")
      <section class="news_header">
        <div class="container">
            <img src="~/Images/background-lines.svg" />
            @await Html.PartialAsync("_BreadCrumbSection")
        </div>
        </section>
        @RenderBody()
    @await Html.PartialAsync("_Footer")
</body>
</html>
