@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ArticleListPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
	Layout = "_LayoutWithBreadcrumb.cshtml";
}

<main>
<section class="news_articles">
      <div class="container">
        <h3>Our News & Articles</h3>
        <div class="grid">
            
        @{
        	var selection = Umbraco.Content(Guid.Parse("6ab9fa05-b652-4aca-9dcb-fcdc10de1545"))?
            .ChildrenOfType("articleDetailPage")?
            .Where(x => x.IsVisible())
            .OrderByDescending(x => x.CreateDate).ToList();
        }
        @if(selection != null)
        {
            @foreach (var item in selection)
        	{
        	
        	    var url = item.Url();
        	    var date = item.CreateDate;
        	    var image = item.Value<IPublishedContent>("articleImage");
        	    var category = item.Value("articleCategory");
        	    var title = item.Name();
        	    var description = item.Value("articleShortDescription");
        	
        	 <div class="card">
        	 <a href="@url">
            <img
              src="@image?.Url()"
            />
            <div class="date">
              <h6>@date.ToString("DD")</h6>
              <p>@date.ToString("MMM")</p>
            </div>
            <p class="category">@category</p>
            <h6>
              @title
            </h6>
            <p class="sneakpeak">
              @description
            </p>
            </a>
          </div>
          
            
              
          
        	}
        }


      </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </section>
</main>